@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);


















#content5-10 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fac51c;
  font-family: 'Lora', serif;
}
#content5-10 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fac51c;
  font-family: 'Lora', serif;
  font-size: 18px;
}
#content5-10 .mbr-article {
  color: #fff;
}
#content5-10 .mbr-article P {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 22px;
}
#image1-w SMALL {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 21px;
  color: #000000;
}
#features1-5 .mbr-section-title .mbr-header__text {
  color: #fac51c;
  text-align: center;
  font-family: 'Lora', serif;
}
#features1-5 .mbr-section__col .mbr-header__text {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#features1-6 .mbr-section__col .mbr-header__text {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#features1-g .mbr-section__col .mbr-header__text {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 16px;
}
#features1-g P {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 18px;
}
#features1-g .mbr-section-title .mbr-header__text {
  color: #fac51c;
  font-family: 'Lora', serif;
}
#instagram-feed-block-0 .inst__title {
  text-align: center;
  color: #fac51c;
  font-family: 'Lora', serif;
  font-size: 25px;
}
#msg-box4-r .mbr-header__text {
  color: #fac51c;
  font-family: 'Lora', serif;
}
#msg-box4-r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-r .mbr-article {
  color: #000000;
}
#msg-box4-r .mbr-article P {
  font-size: 18px;
  text-align: left;
  font-family: 'Lora', serif;
}
#contacts2-7 P {
  color: #ffffff;
  text-align: left;
}
#contacts2-7 UL {
  color: #cccccc;
}
#contacts2-7 DIV {
  color: #ffffff;
  text-align: right;
}
#contacts2-7 B {
  color: #eb6b56;
  font-size: 14px;
}
#menu-41 .mbr-brand__name {
  font-size: 16px;
}
#menu-41.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-41 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-41 .mbr-brand__name a {
  font-family: 'Slabo 27px', serif;
  font-size: 17px;
}
#menu-41 .mbr-navbar__items a {
  font-family: 'Lora', serif;
  font-size: 13px;
}
#msg-box2-13 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-13 .mbr-article {
  color: #252525;
}
#form1-6 .mbr-header__text {
  color: #fac51c;
  font-family: 'Lora', serif;
}
#form1-6 .btn {
  font-family: 'Lora', serif;
}
#footer1-j P {
  text-align: center;
  color: #fac51c;
  font-family: 'Lora', serif;
}
